<mat-toolbar color="primary">
  <mat-toolbar-row class="row between-xs footer-row">
    <div class="start-row">
      <strong>Productos</strong>
      <nav>
        <a href="">Nuevos productos</a> <br>
        <a href="">En oferta</a> <br>
        <a href="">Últimos productos</a>
      </nav>
    </div>
    <div class="middle-row">
      <strong>Acerca de PlatziStore</strong>
      <nav>
        <a href="">Sobre nosotros</a> <br>
        <a href="">Nuestras tiendas</a>
      </nav>
    </div>
    <div class="end-row">
      <strong>Contacto</strong>
      <nav>
      </nav>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
