<h3>{{ product.title | uppercase }}</h3>
<img [src]="product.image" alt="">
<strong>{{ product.price | currency}}</strong>
<p>{{ product.description | slice:0:10 }}</p>
<p>{{ today | date:'HH:mm'}}</p>
<button (click)="addCart()">Agregar al carrito</button>

<!--NOTA: Un concepto un poco mas técnico de lo que es un decorador.

Decoradores:Un decorador angular es una clase especial de declaración que puede acoplarse a una clase, método, propiedad o parámetro.
Los decoradores se declaran de la siguiente manera @expression. Gracias al parámetro @ podemos reconocer fácilmente que estamos hablando de un decorador.
Generalmente usamos los decoradores para extender servicios de terceros, de esta manera evitamos modificar el código original del módulo y en tiempo de ejecución agregamos el funcionamiento que necesitamos.-->
